#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40,116,240,.95);
    z-index: 2;
    cursor: pointer;
}

#text{
   position:relative;
   width:65%;
   color: #fff;
   top:7em;
   left:3em;
   font-family: sans-serif;
}
#arrow
{
    position: absolute;
    right: 1em;
    top: 1%;
    width: 21%;
}
.got_it
{
    display: inline-block;
    background: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    margin-top: 21px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #565656;
}
.add_home_screen
{
    font-size: 19px;
    font-weight: 400;
    font-family: sans-serif;
}
.content
{
    
}